source https://api.nuget.org/v3/index.json
nuget SourceLink.Create.CommandLine
nuget NUnit
nuget Moq

group Analyzers
  source http://www.nuget.org/api/v2/
  nuget StyleCop.Analyzers
  nuget AsyncUsageAnalyzers
  nuget Gu.Analyzers
  nuget IDisposableAnalyzers
  nuget WpfAnalyzers
  nuget JetBrains.Annotations
