source https://api.nuget.org/v3/index.json

group Test
  source http://www.nuget.org/api/v2/
  storage: none
  nuget NUnit
  nuget NUnit3TestAdapter
  nuget Moq

group Analyzers
  source http://www.nuget.org/api/v2/
  nuget AsyncUsageAnalyzers
  nuget Gu.Analyzers
  nuget IDisposableAnalyzers
  nuget Microsoft.CodeAnalysis.FxCopAnalyzers
  nuget PropertyChangedAnalyzers
  nuget PublicApiAnalyzer prerelease
  nuget ReflectionAnalyzers prerelease
  nuget StyleCop.Analyzers prerelease
  nuget WpfAnalyzers

group Build
  source http://www.nuget.org/api/v2/
  storage: none
  nuget SourceLink.Create.CommandLine
