type project
tags UI Automation WPF Test UIA3 UIA System.Windows.Automation
projectUrl https://github.com/GuOrg/Gu.Wpf.UiAutomation
licenseUrl http://opensource.org/licenses/MIT

releasenotes
  FEATURE: touch & mouse drag with infinite speed.
  Expose Mouse & Keyboard SendInput

excludedgroups
  Analyzers
  Build

frameworkAssemblies
  UIAutomationClient
  UIAutomationTypes
